<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <%- include('./partials/nav'); %>
        <div class="container page-body position-relative">
            <h1 class="py-3">
                <%= blogs.title %>
            </h1>
            <p>
                <%= blogs.body %>
            </p>
            <a class="delete pt-4" data-doc="<%= blogs._id %>">
                <img src="/images/trash-can.png" alt="" class="trash-can grow1">
            </a>

        </div>
        <%- include('./partials/foot'); %>

            <script>
                const trashcan = document.querySelector('a.delete');
                trashcan.addEventListener('click', (e) => {
                    const endpoint = `/blogs/${trashcan.dataset.doc}`;
                    fetch(endpoint, {
                        method: 'DELETE',
                    })
                        .then(response => response.json())
                        .then(data => window.location.href = data.redirect)
                        .catch(err => console.log(err));
                });

            </script>
</body>

</html>