<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <%- include('./partials/nav'); %>
        <div class="container page-body">
            <h1 class="py-3 fw-bold">Home</h1>
            <% if(blogs.length){ blogs.forEach(blog=> { %>
                <a href="/blogs/<%= blog._id %>" class="nostyle grow">
                    <div class="card my-3 grow">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= blog.title %>
                            </h5>
                            <p class="card-text">
                                <%= blog.snippet %>
                            </p>
                        </div>
                    </div>
                </a>
                <% }) } else{%>
                    <p>There are no blogs to display...</p>
                    <% } %>
        </div>
        <%- include('./partials/foot'); %>
</body>

</html>